<!--thank https://www.sitepoint.com/find-a-route-using-the-geolocation-and-the-google-maps-api/ for the nice tutorial-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>welcome to share rides</title>
</head>
<header>
    <% include ./partials/header %>
</header>
<body>

<div class="main">
    <h1>Share Rides</h1>
    <h3>Use this app to share rides with other users. </h3>
    <h4 id="index_h4">Poetentially could save you hundreds per year!</h4>
    <form id="calculate-route" name="calculate-route" action="#" method="get">

        <input type="text" id="from" name="from" required="required" placeholder="Departure address" size="30"/>

        <input type="text" id="to" name="to" required="required" placeholder="Destination address" size="30"/>
        <br/>

        <a id="from-link" href="#">Get my position</a>
        <input id='form-button' class="btn btn-primary" type="submit" value="submit"/>
        <input id='form-button' class="btn btn-danger" type="reset" value="reset"/>
        <a id="to-link" href="#">Get my position</a>
    </form>
    <div id="map"></div>
    <div id="search_result" style="margin-top: 20px;"></div>

</div>
<script>
    $(document).ready(function () {
        initMap();
        // If the browser supports the Geolocation API
        if (typeof navigator.geolocation == "undefined") {
            alert("Your browser doesn't support the Geolocation API");
            return;
        }
        // fetch your current location
        $("#from-link, #to-link").click(function (event) {
            event.preventDefault();
            var addressId = this.id.substring(0, this.id.indexOf("-"));

            // this will gets user's current location and put it to the input box
            navigator.geolocation.getCurrentPosition(function (position) {
                    var geocoder = new google.maps.Geocoder();
                    geocoder.geocode({
                            "location": new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
                        },
                        function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK)
                                $("#" + addressId).val(results[0].formatted_address);
                            else
                                alert("Unable to retrieve your address");
                        });
                },
                function (positionError) {
                    alert("Error: " + positionError.message);
                },
                {
                    enableHighAccuracy: true,
                    timeout: 10 * 1000 // 10 seconds
                });
        });

        $("#calculate-route").submit(function (event) {
            event.preventDefault();  // nothing should be send to the backend, jquery will take care of that
            calculateRoute($("#from").val(), $("#to").val());  // get start and end addresses and calc the best route
            $.post('/index/process_data', {from: $("#from").val(), to: $("#to").val()}, function (data) {  // ivoke the post method
//                alert(data.length)
//                $('#search_result').text(JSON.stringify(data));
                $('#search_result').empty();
                if(data.length < 1){  // if no route is found, show the message to users
                    $('#search_result').append('<span class="no_routes_message">No similar routes are found! Lets add some!</span>');
                }
                else{
                    for (var i = 0; i < data.length; i++) {  // if there is data, which will be return in an array of json format
                        if(data[i].member.length < data[i].space_avaliable){  // we should create a div (including button) for each data
                        $('#search_result').append(
                            '<div class="panel panel-default" id="index_panel" style="width:75%; text-align: left;">' +
                                '<div class="panel-heading">' +
                                        '<a data-toggle="collapse" href="#collapse' + i + '">' +
                                            '<li id="my_tirp_list" class="expense"><label id="my_tirp_label"><span class="cost">Expense:</span></label>$'+ (data[i].expense/100*100).toFixed(2) +'<font size="4">&nbsp each</font></li>'+
                                            '<li id="my_tirp_list"><label id="my_tirp_label">Start:</label>'+data[i].start+'</li>' +
                                            '<li id="my_tirp_list"><label id="my_tirp_label">End:</label>'+data[i].end+'</li>' +
                                        '</a>' +
                                '</div>' +
                                    '<div class="panel-body">'+
                                    '<li id="my_tirp_list"><label id="my_tirp_label">Date:</label>'+ data[i].date.toLocaleString().split('T')[0] +'</li>'+
                                    '<li id="my_tirp_list"><label id="my_tirp_label">Member:</label><a href="#">'+data[i].member+'</a></li>'+
                                    '<li id="my_tirp_list"><label id="my_tirp_label">Space Left:</label>'+(data[i].space_avaliable-data[i].member.length)+'</li>'+
                                    '<li id="my_tirp_list"><label id="my_tirp_label">Note:</label>'+data[i].note+'</li>'+
                                    '<form method="post" action="/index/join_trip">'+
                                        '<input type="text" name="trip_id" value=' + data[i]._id + ' style="display:none;" readonly />' +
                                        '<input type="text" name="member" value=' + JSON.stringify(data[i].member) + ' style="display:none;" readonly />' +
                                        '<input type="submit" value="Join" onclick="return confirm(\'Are you sure?\')" class="btn btn-warning" />'+
                                    '</form>'+
                                '</div>' +
                                '<div id="collapse' + i + '" class="panel-collapse collapse">' +
                                    '<div class="panel-footer">' +
                                        '<li id="my_tirp_list_footer"><label id="my_tirp_label">Host:</label><a href="#">'+data[i].host+'</a></li>'+
                                        '<li id="my_tirp_list_footer"><label id="my_tirp_label">Host Phone:</label>'+data[i].host_phone+'</li>'+
                                        '<li id="my_tirp_list_footer"><label id="my_tirp_label">Host Email:</label><a href="#">'+data[i].host_email+'</a></li>'+
                                    '</div>' +
                                '</div>' +
                            '</div>'
                        );
                    }
                    }
                }
            })
        });
    });
</script>
</body>
</html>