<!DOCTYPE html>
<html>
<head>
    <title>become a member</title>

</head>
<body>
    <form action="/register" method="POST">
        *Username:<br><input type="text" placeholder="choose a username" name="username" required="true"/><br>
        *Password:<br><input type="password" name="password" required="true"/><br>
        *Phone:<br><input type="tel" name="phone" required="true"/><br>
        Email:<br><input type="email" name="email"/><br>
        Birthday:<br><input type="date" name="birthday"/><br>
        Where do you live:<br><input type="text" name="city"/><br>
        How long do you drive<br><input type="text"/><br>
        <input type="submit", value="Register"/>
    </form>
</body>
</html>
