body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
#map {
    width: 75%;
    height: 30vh;
    margin: 0 auto;
}

#form-button{
    margin: 10px 0;
}